<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>webSockets</title>
        <script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <nav>
            <a href="/products">View products</a>
            <a href="/">Add product</a>
        </nav>
        <div>
            <div>
                <div>
                    {{{body}}}
                </div>
            </div>
        </div>        
    </body>
</html>